.container {
  background-color: var(--primary-2);
  border-radius: var(--medium-br);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: var(--four);
  width: 90%;
  max-width: 400px;
}

.tabSelector {
  display: flex;
  justify-content: space-around;
  margin-bottom: var(--four);
}

button {
  border: none;
  background-color: var(--primary-3);
  color: var(--text-color);
  padding: var(--two) var(--four);
  border-radius: var(--small-br);
  cursor: pointer;
}

.activeTab {
  background-color: var(--primary-4);
  border: 1px solid white;
}

.tabContent {
  margin-top: var(--three);
}
