.container {
  background-color: var(--primary-2);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 16px;
  width: 90%;
  max-width: 400px;
}

.tabSelector {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

button {
  border: none;
  background-color: var(--primary-3);
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.activeTab {
  background-color: var(--primary-4);
  border: 1px solid white;
}

.tabContent {
  margin-top: 12px;
}
