.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background-color: var(--primary-3);
  overflow-wrap: break-word;
  margin-bottom: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}
