.listWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--two);
  max-height: 70vh;      
  overflow-y: auto;      
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  background-color: var(--primary-3);
  overflow-wrap: break-word;
  margin-bottom: var(--one);
  padding: var(--one) var(--two);
  border-radius: var(--small-br);
}
