:root {
  /*Color*/
  --primary-1: #DDE6ED;
  --primary-2: #9DB2BF;
  --primary-3: #526D82;
  --primary-4: #27374D;
  --text-color: #ffffff;
  --error-color: #DA6C6C;
  --success-color: #44A4B1;

  /*Font Size*/
  --small-fs: 14px;
  --medium-fs: 16px;

  /*Font Weight*/
  --small-fw: 400;
  --medium-fw: 500;
  --large-fw: 600;
  --extra-large-fw: 700;

  /*Border radius*/
  --small-br: 4px;
  --medium-br: 8px;

  /*Gapping*/
  --one: 4px;
  --two: 8px;
  --three: 12px;
  --four: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-1);
  color: var(--text-color);
}
