.generatorWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--three);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: var(--one);
}

button {
  background-color: var(--primary-3);
  color: var(--text-color);
  border: none;
  padding: var(--two) var(--four);
  border-radius: var(--small-br);
  cursor: pointer;
}

.generatedPassword {
  margin-top: var(--two);
  background-color: var(--success-color);
  padding: var(--one) var(--two);
  border-radius: var(--small-br);
}
.generatedPasswordHeading {
  display: block;
  padding-bottom: var(--two);
  font-size: var(--small-fs);
  font-weight: var(--extra-large-fw);
}
.generatedPasswordText {
  overflow-wrap: break-word;
}
