.generatorWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  background-color: var(--primary-3);
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.generatedPassword {
  margin-top: 8px;
  background-color: var(--success-color);
  padding: 4px 8px;
  border-radius: 4px;
}
